@import '../../../../styles/global.scss';

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  min-height: 22px;
  padding: 5px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid $primary-color2;
  border-radius: 4px;
  padding: 4px 11px;
}
