@import '../../styles/global.scss';

$pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  position: fixed;
  z-index: 1;
  width: calc(100vw - 250px);
  background-color: white;
  padding-left: 15px;
}

.right {
  float: right;
}

.space {
  padding: 0px 10px;
}

.item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.3s;
  > span {
    color: fade($black, 65%);
    vertical-align: middle;
  }
  &:hover {
    background: $pro-header-hover-bg;
  }
  &:global(.opened) {
    background: $pro-header-hover-bg;
  }
}

.avatar {
  background-color: orange;
  margin: 0px 5px;
}
