.layout {
  background: #fff;
}

.content {
  max-width: 1080px;
  //margin: 100px auto 0px auto;
  margin: 6em auto 0 auto;
  //font-size:16px;
  font-size: 1em;
  text-align: center;
  background: #fff;
}

.highlightTxt {
  font-weight: bold;
  //font-size:24px;
  font-size: 1.5em;
}

.regularTxt {
  //font-size: 20px;
  font-size: 1.25em;
}

.part {
  //margin-top: 200px;
  margin-top: 12.5em;
  //margin-bottom: 50px;
  margin-bottom: 3em;
}

.feature {
  //margin-top: 220px;
  margin-top: 13.75em;
}

.section {
  //margin-top: 25px;
  margin-top: 1.5em;

  .padSentence {
    height: 35%;
  }
}

.card {
  text-align: left;
}

.icon {
  float: left;
  //font-size: 50px;
  font-size: 3.125em;
}
