.searchBox {
  padding: 8px;

  .input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .button {
    width: 90px;
    margin-bottom: 8px;
  }

}

.highlight {
  background-color: #ffc069;
  padding: 0;
}
