.leftBut {
  margin-bottom: 10px;
}

.rightBut {
  float: right;
  margin-bottom: 10px;
}

.searchBox {
  padding: 8px;

  .input {
    width: 200px;
    margin-bottom: 8px;
    display: block;
  }

  .button {
    width: 96px;
    margin-bottom: 0px;
  }
}
