@import '../../../styles/global.scss';

$pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  padding: 0px;
  padding: 0px 15px;
}

.right {
  position: absolute;
  right: 50px;
  top: 0px;
  color: white;
}

.item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.3s;
  > span {
    color: fade($black, 65%);
    vertical-align: middle;
  }
  &:hover {
    background: $pro-header-hover-bg;
  }
  &:global(.opened) {
    background: $pro-header-hover-bg;
  }
}

.avatar {
  background-color: orange;
  margin: 0px 5px;
}
