.headerInScroll {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(97, 97, 97, 0.71);
}

.headerInFixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 0;
  background-color: white;
}

.logo {
  margin: 0 3%;
}

.nav {
  height: 64px;
  overflow: hidden;
  border: 0;
}

.right {
  position: absolute;
  top: 0;
  right: 5%;
  height: 64px;
  color: white;
}
