.headerInScroll {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(97,97,97,0.71);
}

.headerInFixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
}

.logo {
  padding: 0 50px;
}

.nav {
  height: 64px;
  border: 0;
}

.right {
  position: absolute;
  right: 100px;
  top: 0px;
  color: white;
  height: 64px;
}
