@import '../../styles/global.scss';

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2;

  h1 {
    font-size: 20px;
    color: white;
    margin: 0;
  }

  h4 {
    color: $primary-color2;
    margin: 0;
  }

  .title {
    height: 64px;
  }

  .logo {
    height: 40px;
    padding-right: 10px;
    vertical-align: middle;
  }

  .spin {
    text-align: center;
    justify-content: center;
    height: calc(100vh - 64px);
    padding: 50% 0px;
  }
}

.main {
  min-height: 100vh;
  margin-left: 250px;

  .content {
    margin-top: 64px;
    padding: 15px;
  }
}

.footer {
  background-color: white;
  padding: 0;
}
