@import '../../styles/global.scss';

.addBuilding {
  width: 200px;
}

.addSpec,
.addSpecCombibox {
  height: 100px;
  margin: 20px 0;
}

.addSpec:hover {
  color: $primary-color-2;
  border-color: $primary-color-2;
}

.icon {
  margin-right: 0 !important;
  color: grey;
}
