.layout {
  min-height: 100vh;
  background-color: #fff;

  .content {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 1em;
    //min-width: 1080px;
    line-height: 100px;
    text-align: center;
    background: #fff;
  }

  .title1 .title2 {
    text-align: center;
  }

  .title3 {
    float: center;
    text-align: left;
  }
}
