.card{
  width: 100%;
  margin: 10px 0px;
  border: 2px solid #95de64;
  padding: 5px 0px;

  .content {
    margin: 15px;
  }

}

.submitBut {
  margin: 0px;
}

.divider {
  margin: 2px;
}

.transformerSerial {
  color: #95de64;
}

.linkedCombiboxParagraph {
  color: #1890ff;
  margin: 0.5em 0px !important;
}

.linkedInverterParagraph {
  color: #faad14;
  margin: 0.5em 0px !important;
}