.card {
  width: 100%;
  margin: 25px 0;
  padding: 5px 0;
  border: 2px solid #95de64;

  .content {
    margin: 15px;
  }
}

.submitBut {
  margin: 0;
}

.divider {
  margin: 2px;
}

.transformerSerial {
  color: #95de64;
}

.linkedCombiboxParagraph {
  margin: 0.5em 0 !important;
  color: #1890ff;
}

.linkedInverterParagraph {
  margin: 0.5em 0 !important;
  color: #faad14;
}
