@import '../../../styles/global.scss';

.card{
  width: 100%;
  margin: 10px 0px;
  padding-bottom: 10px;
  border: 2px solid $primary-color-2;

  .content {
    margin: 15px;
  }

  .divider {
    background-color: white;
  }

  .toolbar {
    float: right;
    background-color: $layout-body-background;
    height: 100%;
    padding: 20px;
    justify-content: center;
    border-radius: 0px 5px 0px 0px;
  }

  .sectionBreak {
    margin: 0px;
  }

  .collapse .collapsePanel {
    color: white;
    background-color: white;
    border: 0px;
  }

  .addSpec {
    height: 70px;
    margin: 20px 0px;
  }
}
