.addSpecTransformer {
  height: 100px;
  margin: 20px 0px;
}

.addSpecTransformer:hover {
  color: #95de64;
  border-color: #95de64;
}

.addSpecPowercabinet {
  height: 100px;
  margin: 20px 0px;
}

.addSpecPowercabinet:hover {
  color: #b37feb;
  border-color:#b37feb;
}
