.row {
  height: 60px;
}

.undoredo {
  color: white;
  height: 100%;
  font-size: 12px;
}

.save {
  color: #fa8c16;
  font-size: 18px;
  width: 125px;
  height: 100%;
}

.divider {
  margin: 0px;
}
