@import '../../styles/global.scss';

.card{
  width: 100%;
  margin: 10px 0px;

  .content {
    margin: 24px;
  }

  .divider {
    background-color: white;
  }

  .toolbar {
    background-color: $layout-body-background;
    height: 100%;
    padding: 20px;
  }

}
