.triggerButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;                  
  top: 21%;
  right: 20px;
}

.formTitle {
  margin-bottom: 20px;
  text-align: center;
}

.formRowTextArea {
  margin-left: 38px;
  width: 91%
}

.formItem {
  padding: 0px 20px;
}

.MessageOutlined { 
  font-size: 20px
}
.draggerComp {
  width: 95%;
}